body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  margin: 0 !important;
}

.landing {
  height: 100vh !important;
  margin: 0px 0px !important;
}

.logo-container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  flex: 1;
  margin: 1em auto;
}

.vector-wrapper {
  flex: 8;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  max-width: 75%;
}

.vector-wrapper img {
  width: 100%;
}

.form-container {
  background-color: #1b4375;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.form-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 20%;
}

.form-wrapper h2 {
  text-align: center;
  color: #fff;
}

.form-input {
  color: #1b4375;
  background-color: white;
  height: 3em;
  width: 70%;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
}

.btn {
  margin: 1em auto;
}

.color-pri {
  color: #1b4375 !important;
}

.color-sec {
  color: #e5e5e5 !important;
}

.color-ter {
  color: #a6e4f6 !important;
}

.bg-color-pri {
  background-color: #1b4375 !important;
}

.bg-color-sec {
  background-color: #e5e5e5 !important;
}

/*.bg-color-ter {*/
/*  background-color: #a6e4f6 important;*/
/*}*/

.error {
  color: red;
}

.signup{
  text-align: center;
}

.qrcode-container{
  border: 10px grey;
}


/* For small devices (phones, 576px and up) */
@media (min-width: 576px) {
  .landing {
    height: auto !important;
  }

  .logo-container {
    padding: 2em;
  }

  .vector-wrapper {
    max-width: 100%;
  }

  .form-container {
    flex-direction: column;
    padding: 2em;
  }

  .form-wrapper {
    padding: 10%;
  }

  .form-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }
}

/* For medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .form-wrapper {
    padding: 5%;
  }
}

/* For large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .landing {
    margin: 0 auto !important;
    width: auto;
  }

  .vector-wrapper {
    max-width: 68%;
    margin:0 auto;
  }

  .form-container {
    padding: 4em;

  }

  .form-wrapper {
    padding: 8%;
  }
}


.color-picker-popup {
  display: none;
  z-index: 1000;
  position: absolute; /* Position the color picker popup */
  top: calc(100% + 10px); /* Position it below the color picker button */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.color-picker-popup.show {
  display: block;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
}

.profile-stream-wrapper {
  display: flex;
  flex-direction: column;

}

.profile-container,
.stream-container {
  margin-bottom: 10px; /* Adjust as needed */
}

.logout {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 25%;
  border-radius: 10px;
  transform: translateX(-50%);}
