body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  margin: 0 !important;
}

.landing {
  height: 100vh !important;
  margin: 0px 0px !important;
}

.logo-container {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  flex: 1;
  margin: 1em auto;
}

.vector-wrapper {
  flex: 8;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  max-width: 75%;
  max-width: 75%;
}

.vector-wrapper img {
  width: 100%;
}

.form-container {
  background-color: #1b4375;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.form-wrapper {
  width: 100%;
  margin: 0 auto;
}

.form-wrapper h2 {
  text-align: center;
  color: #fff;
}

.form-input {
  color: #1b4375;
  background-color: white;
  height: 3em;
  width: 70%;
  border: none;
  border-radius: 0.5em;
  padding: 1em;
}

.btn {
  margin: 1em auto;
}

.color-pri {
  color: #1b4375 !important;
}

.color-sec {
  color: #e5e5e5 !important;
}

.color-ter {
  color: #a6e4f6 !important;
}

.bg-color-pri {
  background-color: #1b4375 !important;
}

.bg-color-sec {
  background-color: #e5e5e5 !important;
}

/*.bg-color-ter {*/
/*  background-color: #a6e4f6 important;*/
/*}*/

.error {
  color: crimson;
  font-weight: bold;
}

input,
input:focus {
  outline: #a6e4f6 solid 2px;
}

.error-border {
  outline: crimson solid 2px;
}

.signup {
  text-align: center;
}

.qrcode-container {
  border: 10px grey;
  margin-top: 50px;
}

#stream-color {
  display: inline;
  width: 50px !important;
}

.dashboard-color-picker {
  display: inline;
  color: #fff;
  width: 100%;
}

.log-out {
  width: 320px;
  height: 77px;
  border-radius: 12px;
  border: 1.5px;
  border-color: #1b4375;
  color: #1b4375;
}

.log-out-container {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.dashboard-form-wrapper {
  width: 33vw;
}

.dashboard-header {
  color: #fff;
  padding-bottom: 50px;
  font-family: Nunito Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.185em;
  text-align: left;
}

.dashboard-buttons {
  width: 100%;
  text-align: right;
}

.dashboard-button {
  margin-right: 20px !important;
  color: #fff !important;
  width: 214px;
}

.dashboard-submit {
  width: 214px;
  border-radius: 12px;
  background-color: #aabfd2 !important;
  color: #1b4375 !important;
}

.dashboard-container-right {
  background-color: #1b4375;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10vw !important;
}

.dashboard-header .name {
  display: inline;
  color: #a6e4f6;
  padding-bottom: 50px;
  font-family: Nunito Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.185em;
  text-align: left;
}

.color-picker {
  display: flex;
  flex-direction: row;
}

.form-color {
  max-width: 5rem;
  max-height: 42px;
  padding: 0.2rem;
  margin: 0.25em 1em;
}

@media (max-width: 600px) {
  .log-out-container {
    height: fit-content;
  }

  .dashboard-container-right {
    padding-left: 10px !important;
  }

  .dashboard-container {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    height: fit-content !important;
    font-size: 12px !important;
    justify-content: space-evenly;
  }

  .flex-row {
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    background-color: #173964;
    padding-bottom: 0px !important;
  }
  .log-out-container .btn {
    margin: 0;
  }

  .dashboard-header .name {
    display: inline;
    color: #a6e4f6;
    padding-bottom: 20px;
    font-family: Nunito Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0.185em;
    text-align: center;
  }

  .dashboard-header {
    color: #fff;
    padding-bottom: 20px;
    font-family: Nunito Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0.185em;
    text-align: center;
  }

  .dashboard-form-wrapper {
    width: 100%;
    text-align: center;
  }
  .dashboard-buttons {
    text-align: center;
  }
  .dashboard-button {
    margin-right: 20px !important;
    color: #fff !important;
    width: fit-content;
  }
  .dashboard-submit {
    width: fit-content;
  }

  .dashboard-form-wrapper {
    text-align: left;
  }
  .qrcode-container {
    padding-bottom: 60px;
  }
}

.dashboard-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-navbar {
  margin: 1em auto;
  margin-bottom: 40px;
}
